.wrapper {
  position: relative;
  width: 400px;
  height: 600px; }
  .wrapper .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    z-index: 2; }
  .wrapper p {
    z-index: 3;
    margin: 0 auto;
    position: relative !important;
    background-color: black;
    color: white;
    width: 200px;
    padding: 20px;
    font-size: 25px;
    opacity: 0.6;
    text-align: center;
    cursor: pointer;
    line-height: 1; }
  .wrapper, .wrapper svg, .wrapper p, .wrapper image {
    max-width: 100%; }
